<config>
    <routes>
        <article type="Zend_Controller_Router_Route_Regex">
            <route>([^_]*)_([^_]*).html</route>
            <defaults>
                <controller>index</controller>
                <action>article</action>
            </defaults>
            <map>
				<name>1</name>
				<id>2</id>
            </map>
            <reverse>%s_%d.html</reverse>
        </article>
        <gallery type="Zend_Controller_Router_Route_Regex">
            <route>galerie_([0-9]+).html</route>
            <defaults>
                <controller>index</controller>
                <action>gallery</action>
            </defaults>
            <map>
				<id>1</id>
            </map>
            <reverse>galerie_%d.html</reverse>
        </gallery>  
        <galleries type="Zend_Controller_Router_Route">
            <route>gallerie</route>
            <defaults>
                <controller>index</controller>
                <action>galleries</action>
            </defaults>
        </galleries>                      
        <author type="Zend_Controller_Router_Route_Regex">
            <route>([a-zA-Z]+)\.([a-zA-Z]+)\.*([a-zA-Z]*)</route>
            <defaults>
                <controller>index</controller>
                <action>profile</action>
            </defaults>
            <map>
				<firstname>1</firstname>
				<lastname>2</lastname>
				<middle>3</middle>
            </map>
            <reverse>%s.%s.%s</reverse>
        </author>
        <category type="Zend_Controller_Router_Route">
			<route>rubriky/:name/:page</route>
			<defaults>
				<controller>index</controller>
				<action>category</action>
				<page>1</page>
			</defaults>
        </category>
        <tag type="Zend_Controller_Router_Route">
			<route>tag/:tag</route>
			<defaults>
				<controller>index</controller>
				<action>tags</action>
			</defaults>
		</tag>
		<search type="Zend_Controller_Router_Route">
			<route>search/:query</route>
			<defaults>
				<controller>index</controller>
				<action>search</action>
			</defaults>
		</search>
		<contact type="Zend_Controller_Router_Route_Static">
			<route>kontakt</route>
			<defaults>
				<controller>index</controller>
				<action>contact</action>
			</defaults>
		</contact>
		<redakce type="Zend_Controller_Router_Route_Static">
			<route>redakce</route>
			<defaults>
				<controller>index</controller>
				<action>redakce</action>
			</defaults>
		</redakce>	
		<print type="Zend_Controller_Router_Route_Static">
			<route>tistene-cislo</route>
			<defaults>
				<controller>index</controller>
				<action>print</action>
			</defaults>
		</print>			
		<competition type="Zend_Controller_Router_Route_Static">
			<route>soutez</route>
			<defaults>
				<controller>index</controller>
				<action>soutez</action>
			</defaults>
		</competition>
		<calendar type="Zend_Controller_Router_Route">
			<route>kalendar/:year/:month</route>
			<defaults>
				<controller>index</controller>
				<action>calendar</action>
				<year></year>
				<month></month>
			</defaults>
		</calendar>
		<event type="Zend_Controller_Router_Route_Regex">
			<route>udalost/([^_]*)_([^_]*).html</route>
			<defaults>
				<controller>index</controller>
				<action>event</action>
			</defaults>
            <map>
				<name>1</name>
				<id>2</id>
            </map>
            <reverse>udalost/%s_%d.html</reverse>
		</event>
		<not-found type="Zend_Controller_Router_Route_Static">
			<route>page-not-found</route>
			<defaults>
				<controller>index</controller>
				<action>not-found</action>
			</defaults>
		</not-found>
	</routes>
</config>
